<div id="section4">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h1 class="resume-title">Education</h1>

        <div class="resume-item">
          <!--Style Binding-->
          <h3 [style.text-transform]="text">Senior high school</h3>

          <!--ngFor-->
          <ul>
            <li *ngFor="let item of shs">{{ item }}</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item">
          <!--Style Binding-->
          <h3 [style.text-transform]="text">college</h3>
          <ul>
            <li *ngFor="let item of college">{{ item }}</li>
          </ul>
        </div>
      </div>
      <!--Event Binding-->
      <button (click)="showData($event)" type="button" class="btn btn-light">
        Download CV
      </button>
    </div>
  </div>
</div>
