<div id="section6">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h1 class="resume-title">References</h1>

        <div class="resume-item">
          <h3>Rose Pineda</h3>
          <h4>Web Developer</h4>
          <h5>(+63) 9258 441 5478</h5>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item">
          <h3>Rose Pineda</h3>
          <h4>Web Developer</h4>
          <h5>(+63) 9258 441 5478</h5>
        </div>
      </div>
    </div>
  </div>
</div>
