<div id="section3">
  <div class="skill">
    <h1>Skills</h1>

    <li>
      <h3>html</h3>
      <span class="bar"><span class="html"></span></span>
    </li>

    <li>
      <h3>php</h3>
      <span class="bar"><span class="php"></span></span>
    </li>

    <li>
      <h3>javascript</h3>
      <span class="bar"><span class="javascript"></span></span>
    </li>

    <li>
      <h3>css</h3>
      <span class="bar"><span class="css"></span></span>
    </li>

    <li>
      <h3>mysql</h3>
      <span class="bar"><span class="mysql"></span></span>
    </li>
  </div>
</div>
